In [4]:
#Import Library yang dibutuhkan

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC, LinearSVC

In [15]:
#Import Dataset Yang Diperlukan

df = pd.read_csv('Titanic.csv', index_col=0)
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [16]:
#Cek Status dari dataset yang di import
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Cabin     204 non-null    object
 10  Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB

In [17]:
#pada data tersebut, drop data yang tidak akan dipakai
#dalam hal ini column Cabin, Name, Ticket tidak kita pakai karena datanya unique

df.drop(['Cabin','Name','Ticket'], axis=1, inplace=True)
df.head()

             Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
PassengerId
1                   0       3    male  22.0      1      0   7.2500        S
2                   1       1  female  38.0      1      0  71.2833        C
3                   1       3  female  26.0      0      0   7.9250        S
4                   1       1  female  35.0      1      0  53.1000        S
5                   0       3    male  35.0      0      0   8.0500        S

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 62.6+ KB

In [19]:
#selanjutnya adalah proses imputasi pada Coloumn Embarked dan Age karena mempunyai nilai null
val = df.Embarked.mode()[0]
df['Embarked'] = df.Embarked.fillna(val)

In [20]:
val = df.Age.mean()
df['Age'] = df.Age.fillna(0)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  891 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 62.6+ KB

In [22]:
#selanjutnya adalah proses convert karena colloumn age dan Embarked tipe data nya masih object
df.Sex = df.Sex.map({'male':0, 'female':1})
df.Embarked = df.Embarked.map({'S':0, 'C':1, 'Q':2})
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int64
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  891 non-null    int64
dtypes: float64(2), int64(6)
memory usage: 62.6 KB

In [23]:
df.head()

             Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
PassengerId
1                   0       3    0  22.0      1      0   7.2500         0
2                   1       1    1  38.0      1      0  71.2833         1
3                   1       3    1  26.0      0      0   7.9250         0
4                   1       1    1  35.0      1      0  53.1000         0
5                   0       3    0  35.0      0      0   8.0500         0

In [24]:
#define variabel x dan y untuk train dan test

feature = ['Pclass','Sex','Age','SibSp', 'Parch','Fare', 'Embarked']

x = df.loc[:, feature].values
y = df.loc[:, 'Survived'].values

In [25]:
from sklearn.preprocessing import StandardScaler
SC = StandardScaler()
x_scal = SC.fit_transform(x)

In [26]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x_scal, y, test_size=0.3, random_state=142)

In [28]:
#Logistic Regression 
LR = LogisticRegression(max_iter = 1000)
LR.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [29]:
LR.predict_proba(X_test)

array([[0.81945072, 0.18054928],
       [0.90435589, 0.09564411],
       [0.40466008, 0.59533992],
       [0.83400555, 0.16599445],
       [0.9185571 , 0.0814429 ],
       [0.83887342, 0.16112658],
       [0.67752641, 0.32247359],
       [0.91546293, 0.08453707],
       [0.41154646, 0.58845354],
       [0.84159488, 0.15840512],
       [0.20580941, 0.79419059],
       [0.90157797, 0.09842203],
       [0.12201387, 0.87798613],
       [0.88955535, 0.11044465],
       [0.22998718, 0.77001282],
       [0.54526805, 0.45473195],
       [0.84406975, 0.15593025],
       [0.58533049, 0.41466951],
       [0.05656997, 0.94343003],
       [0.90569338, 0.09430662],
       [0.88689662, 0.11310338],
       [0.89669976, 0.10330024],
       [0.77792931, 0.22207069],
       [0.95903971, 0.04096029],
       [0.84376685, 0.15623315],
       [0.84767417, 0.15232583],
       [0.05188172, 0.94811828],
       [0.84133381, 0.15866619],
       [0.25017058, 0.74982942],
       [0.89035413, 0.10964587],
       [0.06816218, 0.93183782],
       [0.40471313, 0.59528687],
       [0.88851914, 0.11148086],
       [0.84101349, 0.15898651],
       [0.12939841, 0.87060159],
       [0.08736749, 0.91263251],
       [0.80193852, 0.19806148],
       [0.8652797 , 0.1347203 ],
       [0.83400555, 0.16599445],
       [0.72920363, 0.27079637],
       [0.06012475, 0.93987525],
       [0.87188092, 0.12811908],
       [0.40564289, 0.59435711],
       [0.19269923, 0.80730077],
       [0.40775033, 0.59224967],
       [0.91190107, 0.08809893],
       [0.73734241, 0.26265759],
       [0.89085468, 0.10914532],
       [0.33112513, 0.66887487],
       [0.93501595, 0.06498405],
       [0.82849852, 0.17150148],
       [0.23041606, 0.76958394],
       [0.78919603, 0.21080397],
       [0.92483189, 0.07516811],
       [0.79166057, 0.20833943],
       [0.88013394, 0.11986606],
       [0.62092713, 0.37907287],
       [0.27068061, 0.72931939],
       [0.84546354, 0.15453646],
       [0.15181551, 0.84818449],
       [0.85850369, 0.14149631],
       [0.47253673, 0.52746327],
       [0.83874504, 0.16125496],
       [0.87966752, 0.12033248],
       [0.95063334, 0.04936666],
       [0.27513132, 0.72486868],
       [0.2990296 , 0.7009704 ],
       [0.20420794, 0.79579206],
       [0.94534218, 0.05465782],
       [0.90721433, 0.09278567],
       [0.39935635, 0.60064365],
       [0.10119926, 0.89880074],
       [0.65826096, 0.34173904],
       [0.81737491, 0.18262509],
       [0.36286849, 0.63713151],
       [0.16000852, 0.83999148],
       [0.9122262 , 0.0877738 ],
       [0.89998065, 0.10001935],
       [0.8389346 , 0.1610654 ],
       [0.77056601, 0.22943399],
       [0.73833601, 0.26166399],
       [0.07094106, 0.92905894],
       [0.26825325, 0.73174675],
       [0.89062611, 0.10937389],
       [0.90320346, 0.09679654],
       [0.69678907, 0.30321093],
       [0.92407502, 0.07592498],
       [0.16379965, 0.83620035],
       [0.84598089, 0.15401911],
       [0.9046141 , 0.0953859 ],
       [0.413803  , 0.586197  ],
       [0.76488579, 0.23511421],
       [0.06798887, 0.93201113],
       [0.84159652, 0.15840348],
       [0.57950658, 0.42049342],
       [0.08114603, 0.91885397],
       [0.4747436 , 0.5252564 ],
       [0.27520697, 0.72479303],
       [0.54779663, 0.45220337],
       [0.83196344, 0.16803656],
       [0.84159652, 0.15840348],
       [0.23923308, 0.76076692],
       [0.78919603, 0.21080397],
       [0.21206263, 0.78793737],
       [0.8389346 , 0.1610654 ],
       [0.62327827, 0.37672173],
       [0.83919061, 0.16080939],
       [0.56742947, 0.43257053],
       [0.83887342, 0.16112658],
       [0.46904971, 0.53095029],
       [0.90894575, 0.09105425],
       [0.40695497, 0.59304503],
       [0.88253268, 0.11746732],
       [0.91088607, 0.08911393],
       [0.88281715, 0.11718285],
       [0.2246881 , 0.7753119 ],
       [0.90549259, 0.09450741],
       [0.84031853, 0.15968147],
       [0.16592531, 0.83407469],
       [0.40148149, 0.59851851],
       [0.90687635, 0.09312365],
       [0.94401832, 0.05598168],
       [0.73691559, 0.26308441],
       [0.21986711, 0.78013289],
       [0.89077735, 0.10922265],
       [0.65307577, 0.34692423],
       [0.37372636, 0.62627364],
       [0.77211937, 0.22788063],
       [0.92141724, 0.07858276],
       [0.88466149, 0.11533851],
       [0.8389346 , 0.1610654 ],
       [0.84316737, 0.15683263],
       [0.91259086, 0.08740914],
       [0.89069878, 0.10930122],
       [0.88870246, 0.11129754],
       [0.0491618 , 0.9508382 ],
       [0.66415671, 0.33584329],
       [0.69071298, 0.30928702],
       [0.61202292, 0.38797708],
       [0.27520697, 0.72479303],
       [0.84376522, 0.15623478],
       [0.63447835, 0.36552165],
       [0.48297443, 0.51702557],
       [0.5857662 , 0.4142338 ],
       [0.04418943, 0.95581057],
       [0.95569206, 0.04430794],
       [0.79166057, 0.20833943],
       [0.60595522, 0.39404478],
       [0.89085468, 0.10914532],
       [0.8389346 , 0.1610654 ],
       [0.91481435, 0.08518565],
       [0.90532004, 0.09467996],
       [0.0476327 , 0.9523673 ],
       [0.96497289, 0.03502711],
       [0.90071044, 0.09928956],
       [0.16178889, 0.83821111],
       [0.04375157, 0.95624843],
       [0.89829585, 0.10170415],
       [0.83884862, 0.16115138],
       [0.66415671, 0.33584329],
       [0.19085784, 0.80914216],
       [0.66415671, 0.33584329],
       [0.50836351, 0.49163649],
       [0.88455102, 0.11544898],
       [0.40176051, 0.59823949],
       [0.49194554, 0.50805446],
       [0.90549259, 0.09450741],
       [0.91555377, 0.08444623],
       [0.94540905, 0.05459095],
       [0.09846303, 0.90153697],
       [0.69679673, 0.30320327],
       [0.06603594, 0.93396406],
       [0.93253731, 0.06746269],
       [0.88665958, 0.11334042],
       [0.75987324, 0.24012676],
       [0.88458784, 0.11541216],
       [0.39914355, 0.60085645],
       [0.83863022, 0.16136978],
       [0.38780616, 0.61219384],
       [0.52779666, 0.47220334],
       [0.94711328, 0.05288672],
       [0.93679992, 0.06320008],
       [0.5370924 , 0.4629076 ],
       [0.47771646, 0.52228354],
       [0.08107653, 0.91892347],
       [0.27145752, 0.72854248],
       [0.28777551, 0.71222449],
       [0.1591917 , 0.8408083 ],
       [0.83898251, 0.16101749],
       [0.91653349, 0.08346651],
       [0.36888808, 0.63111192],
       [0.383247  , 0.616753  ],
       [0.57346383, 0.42653617],
       [0.75987324, 0.24012676],
       [0.23917134, 0.76082866],
       [0.96825109, 0.03174891],
       [0.35446538, 0.64553462],
       [0.11369174, 0.88630826],
       [0.90018307, 0.09981693],
       [0.77792931, 0.22207069],
       [0.8389346 , 0.1610654 ],
       [0.92672829, 0.07327171],
       [0.53734087, 0.46265913],
       [0.0482046 , 0.9517954 ],
       [0.88454161, 0.11545839],
       [0.83919061, 0.16080939],
       [0.90635893, 0.09364107],
       [0.9274884 , 0.0725116 ],
       [0.89646953, 0.10353047],
       [0.87984764, 0.12015236],
       [0.91373768, 0.08626232],
       [0.07164941, 0.92835059],
       [0.2395644 , 0.7604356 ],
       [0.11578283, 0.88421717],
       [0.91065032, 0.08934968],
       [0.34456486, 0.65543514],
       [0.877798  , 0.122202  ],
       [0.91700319, 0.08299681],
       [0.9364147 , 0.0635853 ],
       [0.91044008, 0.08955992],
       [0.78142175, 0.21857825],
       [0.89860124, 0.10139876],
       [0.28571109, 0.71428891],
       [0.39831115, 0.60168885],
       [0.09300206, 0.90699794],
       [0.28392239, 0.71607761],
       [0.04992951, 0.95007049],
       [0.10850627, 0.89149373],
       [0.77919464, 0.22080536],
       [0.32730624, 0.67269376],
       [0.82912692, 0.17087308],
       [0.57994471, 0.42005529],
       [0.87816494, 0.12183506],
       [0.92296966, 0.07703034],
       [0.20415281, 0.79584719],
       [0.89220635, 0.10779365],
       [0.31200686, 0.68799314],
       [0.11099523, 0.88900477],
       [0.92448794, 0.07551206],
       [0.78864239, 0.21135761],
       [0.90199508, 0.09800492],
       [0.95515712, 0.04484288],
       [0.89813241, 0.10186759],
       [0.10071297, 0.89928703],
       [0.81917434, 0.18082566],
       [0.32878147, 0.67121853],
       [0.27520697, 0.72479303],
       [0.40634792, 0.59365208],
       [0.42317444, 0.57682556],
       [0.86297399, 0.13702601],
       [0.89452459, 0.10547541],
       [0.18908884, 0.81091116],
       [0.66692205, 0.33307795],
       [0.91648462, 0.08351538],
       [0.81334587, 0.18665413],
       [0.28187565, 0.71812435],
       [0.7861111 , 0.2138889 ],
       [0.67820801, 0.32179199],
       [0.18925562, 0.81074438],
       [0.91384052, 0.08615948],
       [0.2357164 , 0.7642836 ],
       [0.87825129, 0.12174871],
       [0.10881905, 0.89118095],
       [0.33112247, 0.66887753],
       [0.88450914, 0.11549086],
       [0.17266924, 0.82733076],
       [0.82717606, 0.17282394],
       [0.39795942, 0.60204058]])

In [30]:
y_pred = LR.predict_proba(X_train)
y_pred = pd.DataFrame({'y_proba':LR.predict_proba(X_train)[:,1],'class_pred':LR.predict(X_train),'class_true':y_train})
bin = [0, 0.25, 0.5, 0.75, 1]

y_pred['group']=pd.cut(y_pred.y_proba,bins = bin)
temp = pd.pivot_table(y_pred,index='group',aggfunc='sum',values=['class_pred','class_true'])
temp

             class_pred  class_true
group
(0.0, 0.25]           0          39
(0.25, 0.5]           0          36
(0.5, 0.75]         124          70
(0.75, 1.0]         100          96

In [32]:
#Random Forest

RF = RandomForestClassifier(n_estimators= 1000)
RF.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [33]:


y_pred = LR.predict_proba(X_train)
y_pred = pd.DataFrame({'y_proba':RF.predict_proba(X_test)[:,1],'class_pred':RF.predict(X_test),'class_true':y_test})
bin = [0, 0.25, 0.5, 0.75, 1]

y_pred['group']=pd.cut(y_pred.y_proba,bins = bin)
temp_ = pd.pivot_table(y_pred,index='group',aggfunc='sum',values=['class_pred','class_true'])
temp_

             class_pred  class_true
group
(0.0, 0.25]           0          16
(0.25, 0.5]           0           9
(0.5, 0.75]          31          10
(0.75, 1.0]          70          65

In [35]:
#SVM
SV = SVC(C=0.1, probability=True)
SV.fit(X_train,y_train)

SVC(C=0.1, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=True, random_state=None, shrinking=True, tol=0.001,
    verbose=False)

In [36]:


y_pred = SV.predict_proba(X_train)
y_pred = pd.DataFrame({'y_proba':SV.predict_proba(X_train)[:,1],'class_pred':SV.predict(X_train),'class_true':y_train})
bin = [0, 0.25, 0.5, 0.75, 1]

y_pred['group']=pd.cut(y_pred.y_proba,bins = bin)
temp = pd.pivot_table(y_pred,index='group',aggfunc='sum',values=['class_pred','class_true'])
temp

             class_pred  class_true
group
(0.0, 0.25]           0          62
(0.25, 0.5]           0          17
(0.5, 0.75]          33          23
(0.75, 1.0]         166         139

In [37]:
#KNN

KN = KNeighborsClassifier(n_neighbors=10)
KN.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=10, p=2,
                     weights='uniform')

In [38]:
y_pred = KN.predict_proba(X_train)
y_pred = pd.DataFrame({'y_proba':KN.predict_proba(X_train)[:,1],'class_pred':KN.predict(X_train),'class_true':y_train})
bin = [0, 0.25, 0.5, 0.75, 1]

y_pred['group']=pd.cut(y_pred.y_proba,bins = bin)
temp = pd.pivot_table(y_pred,index='group',aggfunc='sum',values=['class_pred','class_true'])
temp

             class_pred  class_true
group
(0.0, 0.25]           0          27
(0.25, 0.5]           0          47
(0.5, 0.75]          52          35
(0.75, 1.0]         142         132

In [39]:
#Decision Tree
DT = DecisionTreeClassifier(max_features = 7)
DT.fit(X_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=7, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [40]:
y_pred = DT.predict_proba(X_train)
y_pred = pd.DataFrame({'y_proba':DT.predict_proba(X_test)[:,1],'class_pred':DT.predict(X_test),'class_true':y_test})
bin = [0, 0.25, 0.5, 0.75, 1]

y_pred['group']=pd.cut(y_pred.y_proba,bins = bin)
temp = pd.pivot_table(y_pred,index='group',aggfunc='sum',values=['class_pred','class_true'])
temp

             class_pred  class_true
group
(0.0, 0.25]           0           0
(0.25, 0.5]           0           0
(0.5, 0.75]           0           0
(0.75, 1.0]         113          75